<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="song" class="com.aska.development.model.Song">
        <property name="name" value="Shape Of My Heart"/>
        <property name="author" value="Sting"/>
    </bean>
</beans>